.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.social__item {
  width: 40px;
  height: 40px;
  position: relative;
}

.social__link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;

  &::after {
    position: absolute;
    content: "";
    top: 9px;
    left: 9px;
    width: 22px;
    height: 22px;
    mask-repeat: no-repeat;
    background-color: #bdbdbd;
  }

  &:hover::after,
  &:focus::after,
  &:active {
    background-color: $color-secondary;
  }

  &--vk::after {
    mask-image: url("../../icons/stack.svg#vk");
  }

  &--pinterest::after {
    mask-image: url("../../icons/stack.svg#pinterest");
  }

  &--ok::after {
    mask-image: url("../../icons/stack.svg#ok");
  }
}

.social__item .social__link:hover,
.social__item .social__link:focus {
  background-color: #f0ebff;
}

.social__item .social__link:active {
  background-color: $color-secondary;
  opacity: 0.25;
}
